 libpyside2-dev
 libshiboken2-dev
 pyqt5-dev
 pyqt5-dev-tools
 python3-mypy
 python3-pydot
 python3-pyqt5
 python3-pyqt5.qtsvg
 python3-pyqt5.qtwebengine
 python3-pyside2.qtsvg
 python3-pytest
 python3-setuptools
 python3-sip-dev
 qttools5-dev-tools
 ros-humble-action-msgs
 ros-humble-ament-cmake
 ros-humble-ament-copyright
 ros-humble-ament-flake8
 ros-humble-ament-lint-auto
 ros-humble-ament-lint-common
 ros-humble-ament-pep257
 ros-humble-builtin-interfaces
 ros-humble-gazebo-ros
 ros-humble-geometry-msgs
 ros-humble-launch
 ros-humble-launch-ros
 ros-humble-navigation2
 ros-humble-nav2-bringup
 ros-humble-nav2-simple-commander
 ros-humble-py-trees-ros-interfaces
 ros-humble-rcl-interfaces
 ros-humble-rclpy
 ros-humble-ros2launch
 ros-humble-ros2param
 ros-humble-ros2run
 ros-humble-ros2service
 ros-humble-ros2topic
 ros-humble-rosgraph-msgs
 ros-humble-rosidl-default-generators
 ros-humble-rosidl-default-runtime
 ros-humble-sensor-msgs
 ros-humble-shape-msgs
 ros-humble-std-msgs
 ros-humble-tf2-ros-py
 ros-humble-unique-identifier-msgs
 ros-humble-visualization-msgs
 ros-humble-xacro
 ros-humble-rviz2
 ros-humble-turtlebot4-simulator
 ros-humble-turtlebot4-navigation
 shiboken2
