<?xml version="1.0"?>
<!-- 
Copyright (C) 2024 Intel Corporation
Copyright 2021 Clearpath Robotics, Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions
and limitations under the License.

SPDX-License-Identifier: Apache-2.0 -->
<sdf version="1.8" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="mesh_file" default="" />  
    <xacro:property name="mesh_file" value="$(arg mesh_file)"/>
    <world name='default'>
        <physics name='1ms' type='ignored'>
            <max_step_size>0.003</max_step_size>
            <real_time_factor>1</real_time_factor>
            <real_time_update_rate>1000</real_time_update_rate>
        </physics>
        <plugin name='ignition::gazebo::systems::Physics' filename='ignition-gazebo-physics-system' />
        <plugin name='ignition::gazebo::systems::UserCommands' filename='ignition-gazebo-user-commands-system' />
        <plugin name='ignition::gazebo::systems::SceneBroadcaster' filename='ignition-gazebo-scene-broadcaster-system' />
        <plugin name='ignition::gazebo::systems::Contact' filename='ignition-gazebo-contact-system' />        
        <plugin name="ignition::gazebo::systems::Sensors" filename="ignition-gazebo-sensors-system"> <!-- moved from turtlebot4 definition to allow multiple robots to be spawned. -->
            <render_engine>ogre2</render_engine>
        </plugin>

        <light name='sun' type='directional'>
            <cast_shadows>1</cast_shadows>
            <pose>0 0 10 0 -0 0</pose>
            <diffuse>0.8 0.8 0.8 1</diffuse>
            <specular>0.2 0.2 0.2 1</specular>
            <attenuation>
                <range>1000</range>
                <constant>0.90000000000000002</constant>
                <linear>0.01</linear>
                <quadratic>0.001</quadratic>
            </attenuation>
            <direction>-0.5 0.1 -0.9</direction>
            <spot>
                <inner_angle>0</inner_angle>
                <outer_angle>0</outer_angle>
                <falloff>0</falloff>
            </spot>
        </light>
        <gravity>0 0 -9.8</gravity>
        <magnetic_field>6e-06 2.3e-05 -4.2e-05</magnetic_field>
        <atmosphere type='adiabatic' />
        <scene>
            <ambient>0.4 0.4 0.4 1</ambient>
            <background>0.7 0.7 0.7 1</background>
            <shadows>1</shadows>
        </scene>
        <model name='ground_plane'>
            <static>1</static>
            <link name='link'>
                <collision name='collision'>
                    <geometry>
                        <plane>
                            <normal>0 0 1</normal>
                            <size>100 100</size>
                        </plane>
                    </geometry>
                    <surface>
                        <friction>
                            <ode />
                        </friction>
                        <bounce />
                        <contact />
                    </surface>
                </collision>
                <visual name='visual'>
                    <geometry>
                        <plane>
                            <normal>0 0 1</normal>
                            <size>100 100</size>
                        </plane>
                    </geometry>
                    <material>
                        <ambient>0.8 0.8 0.8 1</ambient>
                        <diffuse>0.8 0.8 0.8 1</diffuse>
                        <specular>0.8 0.8 0.8 1</specular>
                    </material>
                    <plugin name='__default__' filename='__default__' />
                </visual>
            </link>
            <plugin name='__default__' filename='__default__' />
            <pose>0 0 0 0 -0 0</pose>
        </model>

        <model name='obstacles'>
            <pose>0 0 0 0 0 0</pose>
            <static>true</static>
            <link name='wall'>
                <pose>0 0 0 0 0 0</pose>
                <static>true</static>
                <collision name='wall_collision'>
                    <geometry>
                        <mesh>
                            <uri>${mesh_file}</uri>
                        </mesh>
                    </geometry>
                </collision>
                <visual name='wall_visual'>
                    <geometry>
                        <mesh>
                           <uri>${mesh_file}</uri>
                        </mesh>
                    </geometry>
                    <material>
                        <ambient>0.1 0.1 0.1 1</ambient>
                        <diffuse>0 0.1 0.2 1</diffuse>
                        <specular>0 0.01 0.05 1</specular>
                    </material>
                </visual>
            </link>
        </model>
    </world>
</sdf>
