<?xml version='1.0'?>
<sdf version="1.4" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="image_width" default="320"/>
  <xacro:arg name="image_height" default="240"/>
  <xacro:arg name="update_rate" default="5"/>
  <xacro:arg name="camera_name" default="camera"/>
  
  <model name="camera">
    <static>true</static>
      <link name="link">
        <inertial>
          <mass>0.1</mass>
          <inertia>
            <ixx>0.000166667</ixx>
            <iyy>0.000166667</iyy>
            <izz>0.000166667</izz>
          </inertia>
        </inertial>
        <visual name="visual">
          <pose>-0.05 -0.05 -0.05 0 0 0</pose>
          <geometry>
            <box>
              <size>0.1 0.1 0.1</size>
            </box>
          </geometry>
        </visual>
        <sensor name="camera" type="camera">
          <camera>
            <optical_frame_id>$(arg camera_name)_optical_frame</optical_frame_id>
            <horizontal_fov>1.047</horizontal_fov>
            <image>
              <width>$(arg image_width)</width>
              <height>$(arg image_height)</height>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
          </camera>
          <always_on>1</always_on>
          <update_rate>$(arg update_rate)</update_rate>
          <visualize>true</visualize>
        </sensor>
      </link>
    </model>
</sdf>
