name: test-image
on:
  push:
    branches: [main]
    paths:
    - 'deb_requirements.txt'
    - 'requirements.txt'
  pull_request:
    branches: [main]
    paths:
    - 'deb_requirements.txt'
    - 'requirements.txt'
  workflow_dispatch:
concurrency: 
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build-and-push:
    runs-on: intellabs-01
    steps:
    - name: Checkout code
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 #v4.1.1
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d #v3.0.0
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@f95db51fddba0c2d1ec667646a06c2ce06100226 #v3.0.0
    - name: Build and push Docker image
      uses: docker/build-push-action@0565240e2d4ab88bba5387d719585280857ece09 #v5.0.0
      with:
        context: .
        file: .github/workflows/Dockerfile
        push: true
        tags: ghcr.io/intellabs/scenario-execution:humble